* {
  margin: 0;
  padding: 0;
  background-color: #6115bdf1;
  overflow: auto;
  box-sizing: border-box;
}
.btn {
  display: flex;
  width: 300px;
  height: 100px;
  background-color: #1e1e1e;
  margin: 1.5% auto;
  align-items: center;
  justify-content: center;
}
.btn button {
  padding: 10px;
  font-size: 18px;
  font: bold;
  width: fit-content;
  height: fit-content;
}
.result-panel {
  /* display: none; */
  margin: -0.8% auto;
  width: fit-content;
  height: fit-content;
  padding: 10px;
  color: red;
  font-size: 30px;
}
.ping-pong-box {
  position: relative;
  margin: auto;
  width: 700px;
  height: 450px;
  background-color: #1e1e1e;
  padding: 5px 5px;
}
.left-player-box {
  position: absolute;
  width: 30px;
  height: 100px;
  background-color: white;
}

.right-player-box {
  right: 5px;
}

.ball {
  border-radius: 50%;
  /* transition-duration: 2s; */
  position: absolute;
  width: 35px;
  height: 35px;
  background-color: white;
  left: 60px;
}


.btn button,
#restart-btn {
  background-color: #ffffff;
  color: #000;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.3s ease;
}
.btn button:hover,
#restart-btn:hover {
  background-color: #e3e3e3;
}

.result-panel {
  font-weight: bold;
  text-align: center;
}

.ball {
  transition: left 0.01s linear, top 0.01s linear;
}
